/*Varibles*/
:root {
    --darkblue: #152737;
    --belge: #FCEBEB;
    --white: #fff;
    --black: #000;
    --arch: #D9D9D9;
    --burlywood: rgb(222, 184, 135);

}

/*General styling*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {height: 6rem;}

.flex {display: flex;}
.content-wrapper {
    max-width: 1280px;
    margin-inline: auto;
}

.header-wrapper {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

html,
body {
    width: 100%;
}

main {
    padding: 60px 20px 20px 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 3em;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.irrelevant {
    visibility: hidden;
}

body {
    background-color: var(--darkblue);
}

#Backtop {
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 5px;
    border-radius: 100px;
    background-color: var(--burlywood);
    color: var(--black);
    padding: 10px;
    cursor: pointer;
    
}

.fa-regular {
    font-size: 22px;
}

/*menu bar styling*/
#sidebar-menu {
    position: absolute;
    top: 40px;
    right: 10px;
    text-align: right;
    color: var(--white);
    
    
}

.main-nav,
#hamburger-input {
    display: none;
}

#hamburger-input:checked+.main-nav {
    display: block;
    text-align: center;  
}
.fa-bars{
    font-size: 40px;
}

.main-nav {
    background-color: var(--burlywood);
    padding: 10px;
}

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    list-style-type: none;
    font-weight: bold;
    gap: 40px;
}

nav li a {
    color: var(--black);
    
}

nav a {
    
    text-decoration: none;
}

nav a:hover {
    color: var(--white);
}

/*home styling*/

.photo img {
    /*width: 100%;
    height: 468px;
    aspect-ratio: 1;*/
    border-radius: 100%;
    /*object-fit: cover;*/
}

.intro-msg {
    color: var(--white);
    line-height: 1.5;
    /*margin: 30px;*/
}

.myname {
    font-size: 22px;
    word-wrap: break-word;
    margin-top: 20px;
}


/*About section styling*/
#contact, #About-me {
    width: 100%;
    background-color: var(--belge);
    padding: 20px;
    margin-top: 20px;
}

#About-me {
    line-height: 1.5;
    margin-bottom: 20px;
}



/*Experience section styling*/
.language-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.language-icons img {
    width: 60px;
    height: 60px;
}

.language-icons {
    grid-column-start: 2;
    grid-column-end: 12;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.language-icons {
    margin: 20px;
}

.language-icons p{
    color: var(--white);
}


/*Project section styling*/

#Projects {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px;
}

#Projects h2 {
    text-align: left;
}

#Projects .project-cards {
    display: flex;
    flex-direction: column;
    /*gap: 40px;*/
}

#Projects .project-cards {
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    height: 250px;
}

.project-cards img {
    width: 100%;
    height: 250px;
}

#Projects .project-cards {
    background-color: var(--belge);
    padding: 20px;
}

#Projects .project-cards {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#Projects .project-cards p {
    font-size: 14px;
    line-height: 1.5;
    padding: 15px 0px;
}

/*contact section styling*/

#contact p{
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-box {
	padding-bottom: 20px;
}


.form-box label{
    display: inline-block;
	margin-bottom: 5px;
    font-weight: bold;
}

.form-box input{
    border: 2px solid var(--arch);
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

textarea {
    display: block;
    width: 250px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--arch);
    border-radius: 10px;
    font-size: 16px;
    resize: none;

}

input[type=text]{
    width: 250px;
    padding: 10px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 2px solid var(--arch);
    box-sizing: border-box;
}



input[type=submit] {
    width: 139px;
    border: none;
    background-color: var(--arch);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover{
    color: var(--white);
    background-color: var(--darkblue);
}

.fa-brands, .fa-solid {
    font-size: 40px;
}
.fa-square-github {
    color: var(--black);
}

    

/*footer styling*/
footer {
    display: flex;
    justify-content: center;
}

#footer-item {
    color: var(--white);
}

@media(min-width:1000px) {
    #sidebar-menu {
        position: relative;
        /*width: 70%;*/
        top: 0;
        z-index: 10;
    }

    nav li a {
        color: var(--white);
    }

    .main-nav {
        display: flex;
        height: 100%;
        justify-content: center;
        gap: 4em;
        align-items: center;
        width: 100%;
        background-color: transparent;
        list-style: none;
    }

    #hamburger-menu {
        display: none;
    }

    /*.photo img {
        height: 468px;
    }*/

    .intro  {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .desc{
        font-size: 16px;
    }

    #contact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #Projects .project-cards {
        display: flex;
        flex-direction: row-reverse;
        gap: 40px;
    }

    #Projects .project-cards #About-me p {
        font-size: 16px;
    }

    .project-cards img {
        width: 526px;
        height: 368px;
    }

    #Projects .project-cards p {
        font-size: 16px;
    }

    

    
}